body {
    background-color: powderblue;
    line-height: 2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 10%;
    margin: auto;
    border-color: black;
}

#feedBacks {
    height: 100px;
    
}

.indent {
    text-indent: 20px;
    text-align: justify;
    line-height: 2;
    font-size: large;
}

